body {
    background-image: url("birdsout.jpg");
    background-size: cover;
}

.container {
    width: 75%;
    margin: auto;
    padding-bottom: 100px;
    height: 100%;
    background-color: hsla(180, 55%, 85%, 0.3);
}
.center {
    margin: auto;
    width: 50%;
   
    padding: 10px;
  }

#joel {
    width: 200px;
    border: 5px solid rgb(18, 138, 243, 50%);
}

h1 {
    padding-top: 10%;
    font-family: 'Merienda', cursive;
    text-shadow: 3px 3px 3px #ababab;
    color:rgb(18, 138, 243)
}

p {
    font-size: 1.52em;
    /* background-color: hsla(208, 65%, 80%, 30%); */
    width: 75%;
    color:rgb(4, 4, 138)
}
a
{
    text-decoration:none;
}
a:hover {
    background-color: rgb(119, 247, 127, 25%);
 
  }
a:active{font-size: 150%;} 

#bio {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: hsla(180, 53%, 89%, 0.4);
}

audio:hover {transform: scale(1.1);filter: drop-shadow(2px 3px 3px #333); background-color: rgb(208, 240, 208);}

audio::-webkit-media-controls-panel {
    background-color: #e4facf;
  }